<div class="page performance-index">
  <h1>Select Performance Range</h1>
  <p>This will allow you to see the best and worst performing products across stores, time frames, and create flash sales based on the insights gained.</p>
  <div class="box-container">
    {{#link-to 'dashboard.performance.performance' classNames="box"}}
    {{!-- <div class="box"> --}}
      <h2>{{fa-icon "arrow-up"}} Top</h2>
    {{!-- </div> --}}
    {{/link-to}}
    {{#link-to 'dashboard.performance.performance' classNames="box"}}
    {{!-- <div class="box"> --}}
      <h2>{{fa-icon "arrow-down"}} Bottom</h2>
    {{!-- </div> --}}
    {{/link-to}}
  </div>
</div>