@import "compass/css3";
@import "color";

*, *:after, *:before {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: $color-background;
  color: $color-text;
}

h1,h2,h3,h4,h5,h6,
p {
  margin: 0;
}

small:not(.right) {
  font-size: 0.7em;
  color: lighten($color-text, 30%);
}

small.right {
  float: right;
}

ul {
  padding-left: 20px;
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.liquid-container,
.liquid-child {
  height: 100%;
}
