input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  outline: none;
  border: solid 3px #969696;
}
