@import "compass/css3";
@import "color";

.dashboard {

  .nav {
    position: absolute;
    height: 100%;
    line-height: 2.5em;
    width: 7.5%;
    // border-right: 0.0625em solid rgba(0, 0, 0, 1);
    background-color: $color-text;

    nav {
      a {
        display: block;
        width: 100%;
        height: 4em;
        border-bottom: 1px solid tint($color-text, 20%);
        color: tint($color-text, 85%);
        text-align: center;
        padding: 1em;

        &.stats {
          bottom: 3em;
          position: absolute;
          border: none;
          font-size: 1em;
          padding: 0;
          line-height: 1.4;
        }

        &.logout {
          border-bottom: none;
          position: absolute;
          bottom: 0;
          color: $color-warning;
        }

        &.active {
          color: $color-text;
          background-color: tint($color-text, 85%);
        }
      }
    }
  }

  .content {
    position: absolute;
    right: 0;
    height: 100%;
    width: 92.5%;
    overflow: auto;

    .dashboard-index {
      font-size: 2.5em;
      opacity: 0.2;
    }
  }
}

.center-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.center-inner {
  max-width: 60%;
  text-align: center;
}
