<div class="login-outer">
  <div class="login-inner">
    <h2><span class="brand">Sobeys</span> Flash</h2>
    {{input type="text" value=username placeholder="username"}}
    {{input type="password" value=password placeholder="password"}}
    <button {{action 'login'}}>Login</button>
  </div>
</div>

